:root {
  --ifm-homepage-feature-card-border-radius: 12px;
  --ifm-homepage-feature-card-spacing: 55px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 110px;
  width: 110px;
}


.featureCard {
  text-align: center;
  background-color: transparent;
  color: var(--ifm-color-primary-contrast-background);
  height: 100%;
}

.featureCard h3 a {
  color: var(--ifm-color-white);
}


.featureCard p {
  color: var(--ifm-color-gray-500);
}

.featureCardImage {
  background: rgb(13,15,16);
  background: linear-gradient(0deg, rgba(13,15,16,1) 0%, rgba(33,33,33,1) 100%);
  border-radius: var(--ifm-homepage-feature-card-border-radius);
  padding: var(--ifm-homepage-feature-card-spacing)
}

.featureCardImage:first-child {
  padding-top: var(--ifm-homepage-feature-card-spacing)
}

.featureCardBody {
  padding-top: calc(var(--ifm-card-vertical-spacing) * 2);
}