.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


.featureCard {
  text-align: center;
  background-color: var(--ifm-color-secondary-contrast-foreground);
  color: var(--ifm-color-primary-contrast-background);
  height: 100%;
}

.featureCard h3 a {
  color: var(--ifm-color-primary-darkest);
}