:root {
  --ifm-homepage-feature-card-border-radius: 12px;
  --fl0-button-gradient: linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),linear-gradient(94.41deg,#842cd7 -0.69%,#21f5f1 108.6%);
}

.link {
  background: var(--fl0-button-gradient);
  font-size: 1.2rem;
  border: 0;
  color: var(--ifm-color-white);
  border-radius: var(--ifm-button-border-radius);
  padding: 2px;
  font-weight: 600;
}

.link:hover {
  color: var(--ifm-color-white);
  text-decoration: none;
}

.linkInner {
  background-color: var(--ifm-color-gray-900);
  padding: var(--ifm-button-padding-vertical) var(--ifm-button-padding-horizontal);
  border-radius: inherit;
  transition: all .2s ease;
}

.linkInner:hover {
  background-color: transparent;
}