/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @font-face {
  font-family: Inter;
  font-weight: 300;
  src: url('/static/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('/static/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url('/static/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url('/static/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url('/static/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: Inconsolata;
  font-weight: 400;
  src: url('/static/fonts/Inconsolata-Regular.ttf');
}

/* You can override the default Infima variables here. */
:root {
  /* --ifm-font-family-monospace: "Inter"; */
  --ifm-font-family-base: "Inter";
  --ifm-color-primary: #2e8555;
  --ifm-color-nest: #ed2945;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-color-secondary-contrast-foreground: rgba(253, 253, 254, 0.8);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1); 
  --ifm-navbar-height: 4.85rem;
  --ifm-navbar-padding-vertical: var(--ifm-spacing-vertical);
  --ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #6de5df;
  --ifm-color-nest: #ed2945;
  --ifm-color-primary-dark: #50e0d9;
  --ifm-color-primary-darker: #42ddd6;
  --ifm-color-primary-darkest: #24c9c1;
  --ifm-color-primary-light: #8aeae5;
  --ifm-color-primary-lighter: #98ede8;
  --ifm-color-primary-lightest: #c3f4f2;
  --ifm-color-secondary-contrast-foreground: rgba(253, 253, 254, 098);
}

@media (min-width: 996px) {
  .navbar {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(13,15,16,.28);
  }
}

.navbar {
  border-bottom: 1px solid rgb(45, 45, 45);
  background-color: rgba(13,15,16,.8);
}

.navbar__title {
  display: none;
}

.navbar__logo {
  height: 1.5rem;
}

.header-community-link:before {
  background: url("data:image/svg+xml,%3Csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127.14 96.36'%3E%3Cpath fill='%23fff' d='M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z'/%3E%3C/svg%3E") no-repeat;
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  margin-bottom: -0.1rem;
  height: 16px;
  width: 16px;
}
.header-community-link:hover:before {
  background: url("data:image/svg+xml,%3Csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127.14 96.36'%3E%3Cpath fill='%236de5df' d='M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z'/%3E%3C/svg%3E") no-repeat;
}

.header-community-link svg {
  display: none;
}

.footer-community-link svg {
  margin-right: 0.3rem;
  margin-bottom: -0.1rem;
}

/* NestJS */
html[class*="docs-doc-id-nestjs"] {
  --ifm-color-primary: var(--ifm-color-nest);
}